vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 Sep 2003 09:39:28 -0000
vti_extenderversion:SR|4.0.2.7802
vti_cacheddtm:TX|20 Sep 2003 09:39:28 -0000
vti_filesize:IR|1776
vti_cachedlinkinfo:VX|S|../Images/Skin/But01_over.gif S|../Images/Skin/But01_out.gif S|../Images/Skin/But02_over.gif S|../Images/Skin/But02_out.gif
vti_cachedsvcrellinks:VX|NSUS|Admin/Manage/backup/Images/Skin/But01_over.gif NSUS|Admin/Manage/backup/Images/Skin/But01_out.gif NSUS|Admin/Manage/backup/Images/Skin/But02_over.gif NSUS|Admin/Manage/backup/Images/Skin/But02_out.gif
