.box1 {
	color: #000000;
	background-color: #E7E7E7;
	border: 1px solid #999999;
}
table {
	font-size: 9pt;
	text-decoration: none;
	line-height: 16px;

}
.box2 {
	color: #000000;
	background-color: #00CCFF;
	border: 1px solid #0099CC;
}
